@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    background-color: #f8f8f8;
    color: #21211d;
}

small {
    font-size: 1.3rem;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em 2em;
}

.title {
    font-size: 4rem;
    text-align: center;
}

.form {
    display: grid;
}

.label {
    font-size: 1.3rem;
    margin-bottom: .2em;
    text-transform: uppercase;
    text-align: center;
}

.input {
    font-size: 1.5rem;
    margin-bottom: .5em;
}

input::placeholder {
    opacity: .7;
}

.btn {
    font-size: 1.4rem;
    cursor: pointer;
    background-color: #21211d;
    color: #f8f8f8;
    transition: background-color .3s;
}

.btn:hover {
    background-color: #0d0d0d;
}

.input,
.btn {
    padding: .6em 1.5em;
    border: 1px solid #b6b6ac;
    border-radius: 3em;
}

@media(min-width: 768px) {
    .form {
        grid-template-columns: auto 1fr auto;
        align-items: center;
        grid-gap: .5em;
    }

    .input,
    .label {
        margin-bottom: 0;
    }

    .card{
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 2em;
    }

    .card--img {
        align-self: center;
    }
}

.card-list {
    margin-top: 2.6em;
}

.card {
    background-color: #fff;
    padding: 1.2em 2.5em;
    box-shadow: 0px 0px 5px #b6b6ac;
    margin-bottom: 1.3em;
    border-radius: 1em;
}

.card--img {
    margin: 0 auto;
    display: block;
}

.card--title {
    font-size: 3rem;
}